{% extends "base.html" %}
{% block content %}

    <body>
        <h3>ONDE ESTAMOS!</h3><br>

        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3654.751155381872!2d-46.804151499999996!3d-23.649081199999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5360c546c353%3A0x6acb11c5ac3b69bd!2sR.%20Cerqueira%20C%C3%A9sar%2C%20840%20-%20Jardim%20Santa%20Tereza%2C%20Embu%20das%20Artes%20-%20SP%2C%2006813-000!5e0!3m2!1spt-BR!2sbr!4v1655075994875!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <faleconosco>
            <h2>Fale conosco</h2>
            <form action="." method="post">
                <label for="name">Nome</label><br>
                <input type="text" name="name" id="name"><br>
                <label for="message">Mensagem</label><br>
                <textarea name="message" id="message" cols="30" rows="10"></textarea>
                <br>
                <input type="submit" value="Enviar">
            </form>
        </faleconosco>
{% endblock %}