{% extends "base.html" %}
{% block content %}

<body>
        <h3>NOSSOS CURSOS!</h3><br>

    <p><h4>INFORMATICA:</h4><p>
        <p><h5>Cursos para iniciantes e usuários de informática, onde teremos:</h5><p>
        <p><h5>Iniciação ao pacote office</h5><p>
        <p><h5>Introdução ao Excel</h5><p>
        <p><h5>Introdução ao Microsoft Word</h5><p>
        <p><h5>Introdução ao Microsoft Access</h5><p>
        <p><h5>Iniciação a criação de Games, etc</h5><p>

    <br>
        <p><h4>INGLES:</h4></p>
        <p><h5>Curso para todas as idades</h5></p>
        <p><h5>Aprenda Inglês rapido e fácil</h5></p>
        <p><h5>Aulas de conversação com professores certificados</h5></p>

{% endblock %}