{% extends "base.html" %}
{% block content %}
    <h1>{% block title %} Bem vindo a MadaTec Cursos Profissionalizantes! {% endblock %} </h1>
    <img src="{{ url_for('static', filename='escola.jpg')}}" width="300" height="400">
    <aescola>
        <p>A MadaTec é uma escola de capacitação profissional que atua na qualificação de seus alunos, fornecendo soluções para o mercado.<p>
        <br>
        <p>Possui parceria com vários profissionais e instrutores capacitados, que oferecem conteúdos relevantes nas áreas de atuação.<p>
        <br>
        <p>A missão da MadaTec é proporcionar e garantir aos alunos, ensino profissionalizantes a preços acessíveis.<p>
    </aescola>

{% endblock %}